.nav-panel {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	background: linear-gradient(91.7deg, #005faf -96.95%, #0a356d 158.18%);
}

.nav-panel .nav-panel-left {
	display: flex;
	margin-left: 49px;
}

.nav-panel .nav-panel-right {
	display: flex;
}

.nav-panel .nav-panel-left div {
	margin-right: 64px;
}
.nav-panel .nav-panel-right div {
	margin-left: 75px;
}
